* { box-sizing: border-box;}

  header {
    width: 80%;
    margin: auto;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  h1 {
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    color: #242635;
    margin-bottom: 5px;
  }

  li {
    list-style: none;
    padding: 20px;
  }
  
  .logo {
    color:#242635;
    font-size: 24px;
    font-family: 'Aldrich', sans-serif;
    font-weight: 400;
  }
  
  .navigation {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-list {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
  
  .nav-link {
    color: #242635;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
  }
  
  .infotext {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 400;
  }

  .patagonia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }

  .icon {
    display: none;
  }

  .horses-mobile{
    display: none;
  }

  .horses-tablet{
    display: none;
  }

  @media (max-width:768px) { /*ipad*/
  
    .logo { 
    color: #242635;
    font-size: 24px;
    font-family: 'balo', sans-serif; 
  }
  
    .h1 {
    font-size: 72px; 
  }
  
    .horses-tablet{
      position: relative;
      bottom:0px;
      display: block;
    }
  
    .horses{
      display: none;
    }
  
    .horses-mobile{
      display: none;
    }
    .icon {
      display: none;
    }
   
  }
  
  @media (max-width:320px) /*mobile*/
   {
  .logo { 
    color: #242635;
    font-size: 24px;
    font-family: 'balo', sans-serif; 
    margin-right: auto;
  }
  
  .icon {
    display: inline;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav_link {
    display: none;
  }
  
  h1 {
    font-size: 36px; 
  }
  
  .info-text {
    font-size: 12px; 
  }
  
  .horses-mobile{
    position: relative;
    bottom: 0px;
    display: block;
  }

  .horses-tablet{
    display: none;
  }
  
  .horses{
    display: none;
  }
}